*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: system-ui;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section1{
    background-color: rgba(99, 96, 96, 0.63);
}

input{
    padding: 1rem 4.5rem;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px;
    background-color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    min-height: 50vh;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.title{
    display: flex;
    flex-direction: column;
    margin-top: 12em;
    position: absolute;
    top: 0;
}

#imgPokemon{
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
    



}

.pregunta{
    display: flex;
    flex-direction: column;
    margin-top: 11em;
    position: absolute;
    top: 0;
}


.hidden {
    filter: brightness(0);

}

.show {
    filter: brightness(1);

}